.landing_page{
    /* when screen is very large, dont streach it, and center it by setting margin auto */
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.landing_image{
    z-index: -1;
    margin-bottom: -150px;
    width:100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.landingpage_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

